function Square.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
push pointer 0
pop pointer 1
pop that 0
push argument 1
push pointer 0
pop pointer 1
pop that 1
push argument 2
push pointer 0
pop pointer 1
pop that 2
push pointer 0
call Square.draw 1
pop temp 1
push pointer 0
return
function Square.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 1
push constant 0
return
function Square.draw 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 2
add
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 2
add
call Screen.drawRectangle 4
pop temp 1
push constant 0
return
function Square.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 2
add
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 2
add
call Screen.drawRectangle 4
pop temp 1
push constant 0
return
function Square.incSize 0
push argument 0
pop pointer 0
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 2
add
push constant 254
lt
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 2
add
push constant 510
lt
and
not
if-goto ifLabel0
push pointer 0
call Square.erase 1
pop temp 1
push pointer 0
pop pointer 1
push that 2
push constant 2
add
push pointer 0
pop pointer 1
pop that 2
push pointer 0
call Square.draw 1
pop temp 1
goto ifLabel1
label ifLabel0
label ifLabel1
push constant 0
return
function Square.decSize 0
push argument 0
pop pointer 0
push pointer 0
pop pointer 1
push that 2
push constant 2
gt
not
if-goto ifLabel2
push pointer 0
call Square.erase 1
pop temp 1
push pointer 0
pop pointer 1
push that 2
push constant 2
sub
push pointer 0
pop pointer 1
pop that 2
push pointer 0
call Square.draw 1
pop temp 1
goto ifLabel3
label ifLabel2
label ifLabel3
push constant 0
return
function Square.moveUp 0
push argument 0
pop pointer 0
push pointer 0
pop pointer 1
push that 1
push constant 1
gt
not
if-goto ifLabel4
push constant 0
call Screen.setColor 1
pop temp 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 2
add
push constant 1
sub
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 2
add
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 2
add
call Screen.drawRectangle 4
pop temp 1
push pointer 0
pop pointer 1
push that 1
push constant 2
sub
push pointer 0
pop pointer 1
pop that 1
push constant 1
neg
call Screen.setColor 1
pop temp 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 2
add
push pointer 0
pop pointer 1
push that 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 1
goto ifLabel5
label ifLabel4
label ifLabel5
push constant 0
return
function Square.moveDown 0
push argument 0
pop pointer 0
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 2
add
push constant 254
lt
not
if-goto ifLabel6
push constant 0
call Screen.setColor 1
pop temp 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 2
add
push pointer 0
pop pointer 1
push that 1
push constant 1
add
call Screen.drawRectangle 4
pop temp 1
push pointer 0
pop pointer 1
push that 1
push constant 2
add
push pointer 0
pop pointer 1
pop that 1
push constant 1
neg
call Screen.setColor 1
pop temp 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 2
add
push constant 1
sub
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 2
add
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 2
add
call Screen.drawRectangle 4
pop temp 1
goto ifLabel7
label ifLabel6
label ifLabel7
push constant 0
return
function Square.moveLeft 0
push argument 0
pop pointer 0
push pointer 0
pop pointer 1
push that 0
push constant 1
gt
not
if-goto ifLabel8
push constant 0
call Screen.setColor 1
pop temp 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 2
add
push constant 1
sub
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 2
add
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 2
add
call Screen.drawRectangle 4
pop temp 1
push pointer 0
pop pointer 1
push that 0
push constant 2
sub
push pointer 0
pop pointer 1
pop that 0
push constant 1
neg
call Screen.setColor 1
pop temp 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 0
push constant 1
add
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 2
add
call Screen.drawRectangle 4
pop temp 1
goto ifLabel9
label ifLabel8
label ifLabel9
push constant 0
return
function Square.moveRight 0
push argument 0
pop pointer 0
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 2
add
push constant 510
lt
not
if-goto ifLabel10
push constant 0
call Screen.setColor 1
pop temp 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 0
push constant 1
add
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 2
add
call Screen.drawRectangle 4
pop temp 1
push pointer 0
pop pointer 1
push that 0
push constant 2
add
push pointer 0
pop pointer 1
pop that 0
push constant 1
neg
call Screen.setColor 1
pop temp 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 2
add
push constant 1
sub
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 0
push pointer 0
pop pointer 1
push that 2
add
push pointer 0
pop pointer 1
push that 1
push pointer 0
pop pointer 1
push that 2
add
call Screen.drawRectangle 4
pop temp 1
goto ifLabel11
label ifLabel10
label ifLabel11
push constant 0
return
