function Main.displayDino 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 3840
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 8064
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 7552
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32640
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32640
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 3969
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 3969
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32707
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 20455
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 4095
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 4094
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 4092
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 4088
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 2032
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 544
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1632
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.displayString 0
push constant 2
push constant 2
call Output.moveCursor 2
pop temp 0
push argument 0
call Output.printString 1
pop temp 0
push constant 0
return
function Main.displayScreen 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 4
push constant 4
push constant 6
push constant 6
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Main.main 0
push constant 25
call Main.displayDino 1
pop temp 0
push constant 512
push constant 24
add
call Main.displayDino 1
pop temp 0
push constant 512
push constant 512
add
push constant 23
add
call Main.displayDino 1
pop temp 0
push constant 512
push constant 512
add
push constant 512
add
push constant 22
add
call Main.displayDino 1
pop temp 0
push constant 32
push constant 16
call Math.multiply 2
push constant 15
call Math.multiply 2
push constant 31
add
call Main.displayDino 1
pop temp 0
push constant 12
call String.new 1
push constant 72
call String.appendChar 2
push constant 101
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 119
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 100
call String.appendChar 2
push constant 33
call String.appendChar 2
call Main.displayString 1
pop temp 0
call Main.displayScreen 0
pop temp 0
push constant 0
return
