function Main.displayDino 1
push constant 16384
push argument 0
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 896
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 1728
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 1984
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 448
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 449
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 2019
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 503
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 510
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 508
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 504
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 144
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 432
call Memory.poke 2
pop temp 0
push constant 0
return
function Main.main 0
push constant 0
call Main.displayDino 1
pop temp 0
push constant 0
return
