function Dino.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 256
push constant 16
sub
pop this 1
push constant 0
pop this 2
push constant 16
push constant 4
call Math.multiply 2
pop this 3
push pointer 0
return
function Dino.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Dino.calculateY 1
push argument 0
pop pointer 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 2
push constant 1
sub
push this 3
call Math.divide 2
push constant 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
push constant 2
call Math.multiply 2
push this 2
push constant 1
sub
sub
pop local 0
goto IF_END1
label IF_FALSE1
push this 2
push constant 1
sub
pop local 0
label IF_END1
push constant 256
push constant 16
sub
push local 0
sub
pop this 1
push this 2
push constant 16
sub
pop this 2
push constant 0
return
function Dino.jump 0
push argument 0
pop pointer 0
push this 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
push constant 2
call Math.multiply 2
pop this 2
label IF_FALSE0
push constant 0
return
function Dino.display 0
push argument 0
pop pointer 0
push argument 1
push this 0
push this 1
call Monitor.clearDino 3
pop temp 0
push pointer 0
call Dino.calculateY 1
pop temp 0
push argument 1
push this 0
push this 1
call Monitor.displayDino 3
pop temp 0
push constant 0
return
function Dino.fight 0
push argument 0
pop pointer 0
push argument 1
push this 0
push this 1
call Terrain.fightWithDino 3
return
